<div class="client">
  <h2>Client <%= client.name %><h2>
    <ul>
        <li><%=h client.address_1 %><br/><%=h client.address_2 %></li>
        <li><%=h client.city %>, <%=h client.province %>&nbsp;&nbsp;<%=h client.postal %></li>
        <li><%=h client.phone %></li>
        <li><%=h client.cell %></li>
        <li><%=h client.email %></li>
        <li><%=h client.email_reminder %></li>
    </ul>
</div>
