<div class="appointment">
  <h2>Appintment on <%= appointment.occurs_on %></h2>
    <ul>
        <li><%=h appointment.occurs_on %></li>
        <li><%=h appointment.starts_at %></li>
        <li><%=h appointment.duration %></li>
    </ul>
</div>
