<% for column in Appointment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @appointment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @appointment %> |
<%= link_to 'Back', :action => 'list' %>
